<div class="messages-<%= "#{@enquiry.id}"%>">
  <% @enquiry.messages.each do |message| %>
    <% if current_user == message.sender %>
      <p class='sender' ><%= message.content %></p>
    <% else %>
      <p class='recipient' ><%= message.content %></p>
    <% end %>
  <% end %>
</div>
