<h3>Pending enquires</h3>
<table class='table'>
  <thead>
    <tr>
      <th>Description of Enquiry</th>
      <th>Enquiry's start date</th>
      <th>Enquiry's end date</th>
      <th>Liason</th>
    </tr>
  </thead>
  <% @enquiries.each do |enquiry| %>
  <tr>
    <td><%=enquiry.description%></td>
    <td><%=enquiry.start_date.to_time%></td>
    <td><%=enquiry.end_date.to_time%></td>
    <td><%= link_to 'continue liason with customer', edit_enquiry_path(enquiry.id), {:class => 'btn btn-default'} %></td>
  </tr>
  <% end %>
</table>
