<h1>Password Reset</h1>

<%= form_for :password_reset, url:password_reset_index_path, html: { method: :post } do |f| %>
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.submit 'Submit' %>
<% end %>
