<div class='container'>
  <div class='row'>

     <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Handy</h1>
                        <h5>The best hand for the job</h5>
                    </div>
                    <%= render 'partials/search' %>
                </div>
            </div>
        </div>
    </header>


    <div class='row'>
      <% if current_user == nil %>
        <%= render 'freelancers/partials/index_guest' %>
      <% elsif current_freelancer %>
        <%= render 'freelancers/partials/index_freelancer' %>
      <% else %>
        <%= render 'freelancers/partials/index_user' %>
      <% end %>
    </div>
  </div>
</div>
