<h1>Enquiry</h1>

<table>
  <tr>
    <td><%=@enquiry.freelancer_id%></td>

    <td><%=@enquiry.description%></td>

    <td><%=@enquiry.start_date%></td>
    <td><%=@enquiry.end_date%></td>

  </tr>
</table>
